.logo {
    float: left;
    width: 150px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.65);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff !important;
}